$grey: #595959;
$green: #001a00;
$main-font: 'Questrial', sans-serif;

* {
	box-sizing: border-box;
	font-family: $main-font;
}

body {
	margin: 0;
	section {
		display: flex;
		align-items: center;
	}
	nav {
		background-color: $green;
		height: 65px;
		font-family: $main-font;
		font-size: 20px;
		.inner-nav {
			margin-left: 5px;
			margin-right: 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.menu {
				display: flex;
				color: white;
				width: 400px;
				justify-content: space-evenly;
				list-style-type: none;
				a {
					text-decoration: none;
					color: white;
				}
			}
		}
	}
	.intro-section {
		background-image: url('../assets/welcome3.png');
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		.intro-text {
			padding-top: 10%;
			height: 95vh;
			font-family: $main-font;
			text-align: center;
			h1 {
				text-transform: uppercase;
				color: $green;
				font-size: 75px;
				font-weight: 700;
				margin-bottom: 0;
			}
			h3 {
				color: $green;
				font-size: 40px;
				font-weight: 400;
			}
		}
	}
	.grid {
		width: 85%;
		margin: auto;
		&.hidden {
			opacity: 0;
			height: 0;
			width: 0;
		}
		color: $green;
		display: flex;
		align-items: center;
		height: 80vh;
		justify-content: space-around;
		.column {
			flex-grow: 1;
			&.image {
				width: 55%;
				img {
					border-radius: 6px;
				}
			}
			&.desc {
				width: 45%;
			}
			.project-image {
				width: 90%;
				height: auto;
			}
		}
	}
}

// arrows

#arrow_1 .arrow {
	$size: 40px;
	$width: 3px;
	margin-left: 35px;
	margin-right: 35px;

	cursor: pointer;
	display: block;
	width: $size / 1.414;
	height: $size / 1.414 * 2;
	position: relative;

	& span,
	&:before,
	&:after {
		background: #003300;
		content: '';
		display: block;
		width: $size;
		height: $width;
		position: absolute;
		top: calc(50% - (#{$width} / 2));
	}

	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}

	& span {
		width: 0;
	}
	&:hover span {
		width: $size * 1.414;
	}

	@each $direction in 'left' 'right' {
		&.arrow--#{$direction} {
			& span,
			&:before,
			&:after {
				#{$direction}: 0;
				transform-origin: #{$direction} 50%;
			}

			&:before,
			&:after {
				transition: #{$direction} 0.3s 0.05s;
			}

			& span {
				transition: width 0.3s, #{$direction} 0.3s 0.05s;
			}

			&:hover {
				& span,
				&:before,
				&:after {
					#{$direction}: $size / 1.414 * -1;
				}
			}
		}
	}
}

// sliding animations----------------------------------------------------------------------------
// .slide-in-right {
// 	animation: slide-in 0.5s forwards;
// 	-webkit-animation: slide-in 0.5s forwards;
// }

// .slide-out-right {
// 	animation: slide-out 0.5s forwards;
// 	-webkit-animation: slide-out 0.5s forwards;
// }
// .slide-in-left {
// 	animation: slide-in 0.5s backwards;
// 	-webkit-animation: slide-in 0.5s backwards;
// }

// .slide-out-left {
// 	animation: slide-out 0.5s backwards;
// 	-webkit-animation: slide-out 0.5s backwards;
// }
// @keyframes slide-in {
// 	100% {
// 		transform: translateX(0%);
// 	}
// }

// @-webkit-keyframes slide-in {
// 	100% {
// 		-webkit-transform: translateX(0%);
// 	}
// }

// @keyframes slide-out {
// 	0% {
// 		transform: translateX(0%);
// 	}
// 	100% {
// 		transform: translateX(-100%);
// 	}
// }

// @-webkit-keyframes slide-out {
// 	0% {
// 		-webkit-transform: translateX(0%);
// 	}
// 	100% {
// 		-webkit-transform: translateX(-100%);
// 	}
// }
