$main-blue: #0C3C59;
$main-grey: white;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $main-blue;
    nav{
        background-color: $main-grey;
        .inner-nav{
            margin-left: 5px;
            margin-right: 5px;
            display: flex;
            justify-content: space-between;
            .menu{
                display: flex;
                color: $main-blue;
            }
        }
    }
}