$main-blue: #41b3a3;
$blue-font: white;
$main-grey: white;
$main-font: 'Questrial', sans-serif;

* {
	box-sizing: border-box;
	font-family: $main-font;
}

body {
	margin: 0;
	background-color: $main-blue;
	section {
		display: flex;
		align-items: center;
	}
	nav {
		background-color: $main-grey;
		height: 65px;
		font-family: $main-font;
		font-size: 20px;
		.inner-nav {
			margin-left: 5px;
			margin-right: 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.menu {
				display: flex;
				color: $blue-font;
				width: 400px;
				justify-content: space-evenly;
				list-style-type: none;
				a {
					text-decoration: none;
					color: $blue-font;
				}
			}
		}
	}
	.intro-section {
		display: flex;
		align-items: center;
		justify-content: center;
		.intro-text {
			padding-top: 15%;
			height: 95vh;
			color: $blue-font;
			font-family: $main-font;
			text-align: center;
			h1 {
				font-size: 75px;
				font-weight: 700;
				margin-bottom: 0;
			}
			h3 {
				font-size: 40px;
				font-weight: 400;
			}
		}
	}
	.grid {
		width: 85%;
		margin: auto;
		&.hidden {
			display: none;
		}
		color: $blue-font;
		&.visible {
			display: flex;
			align-items: center;
		}
		height: 80vh;
		justify-content: space-around;
		.column {
			flex-grow: 1;
			width: 50%;
			.project-image {
				width: 90%;
				height: auto;
			}
		}
	}
}

// arrows----------------------------------------------------------------------------------------------

#arrow_1 .arrow {
	$size: 40px;
	$width: 3px;
	margin-left: 35px;
	margin-right: 35px;

	cursor: pointer;
	display: block;
	width: $size / 1.414;
	height: $size / 1.414 * 2;
	position: relative;

	& span,
	&:before,
	&:after {
		background: #fff;
		content: '';
		display: block;
		width: $size;
		height: $width;
		position: absolute;
		top: calc(50% - (#{$width} / 2));
	}

	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}

	& span {
		width: 0;
	}
	&:hover span {
		width: $size * 1.414;
	}

	@each $direction in 'left' 'right' {
		&.arrow--#{$direction} {
			& span,
			&:before,
			&:after {
				#{$direction}: 0;
				transform-origin: #{$direction} 50%;
			}

			&:before,
			&:after {
				transition: #{$direction} 0.3s 0.05s;
			}

			& span {
				transition: width 0.3s, #{$direction} 0.3s 0.05s;
			}

			&:hover {
				& span,
				&:before,
				&:after {
					#{$direction}: $size / 1.414 * -1;
				}
			}
		}
	}
}
