#color1{
  color: #0C3C59;
}

#color2{
  color: #BABABA;
}

#color3{
  color: #F2F2F2;
}
#lightgrey{
  color: #D3D3D3;
}


body{
  background-color: red;
}

h1{
  color: white;
  font-family: helvetica;
}

#newid{
  color: green;
}
